= partial 'head'

%body
  = partial 'navigation'

  .container
    %article
      %header
        %span.date
          = current_article.date.strftime('%B %d, %Y')
        %h1= current_article.title

      = current_article.body

    = partial 'comments'

  = partial 'footer'
