= partial 'head'

%body
  = partial 'navigation'
  
  .container
    %article
      %header
        %h1= current_article.title
        %span.date
          Published on
          = current_article.date.strftime('%B %d, %Y')

      = current_article.body
    
    = partial 'comments'
  
  = partial 'footer'
