= partial 'head'

%body
  %header{ class: 'site-head' }
    .container
      %h1= link_to 'Speakeasy Linguistics', '/'

      %nav.big-nav
        %ul
          %li= link_to 'About', ''
          %li= link_to 'Contact', ''
          %li= link_to 'Resources', ''
      %nav.small-nav
        %ul
          %li= link_to 'About', ''
          %li= link_to 'Contact', ''
          %li= link_to 'Resources', ''


  .container
    %article
      %header
        %h1= current_article.title
        %span.date
          Published on
          = current_article.date.strftime('%B %d, %Y')

      = current_article.body
    
    = partial 'comments'
  
  = partial 'footer'
