%h1 Resources

%p
  On this <em>frequently updated</em> page, you’ll find helpful resources on subjects from linguistic neuroscience to particular languages. For now, they’ll be organized by section. Feel free to browse, and if you know of an excellent resource that isn’t posted here, feel free to
  = succeed '.' do
    = link_to 'get in touch', 'mailto:nick@speakeasy.com'

%h2.resource-headline Language Learning <span class='amp'>&amp;</span> Tutorials
%p These software and/or mp3 courses and tutorials are a must for gaining verbal and auditory proficiency.

.resources-container
  %article
    %h1 Rosetta Stone
    %p
      = link_to 'Rosetta Stone', 'http://rosettastone.com'
      has long been my language learning weapon of choice because it focuses on the immersion method: from the very first time you pop in a disc (or visit the web application), you are in your target language full-time. It’s overwhelming at first, but can be exhilirating. Rosetta Stone is quite expensive (prices depend on the number of levels purchased; 1 level is $179, 5 cost $499), but with their recent addition of weekly conversation small groups with native speakers (an extra $9 per month), this platform has become invaluable. Definitely worth the investment.

  %article
    %h1 Pimsleur
    %p
      I don’t tend to benefit from the
      = link_to 'Pimsleur', 'http://pimsleur'
      method, but their track record speaks for itself. Their method is the opposite of the Rosetta Stone approach, in which lessons are explained in English, and there is a great focus on repetition of spoken passages in conversation. If you’re overstimulated by immersion, Pimsleur might be a great bet.

  %article
    %h1 Verbling
    %p
      A recent discovery for me,
      = link_to 'Verbling', 'http://verbling.com'
      is a new startup that offers online courses and tutoring in English, Spanish, Russian, Italian, and French. Though their language offerings are limited at this point, their courses offer videos, quizzes, downloads, and worksheets, offering a half dozen or so modules in the $20 range. This definitely will be a company to watch in the coming years as they amass more offerings.

  %article
    %h1 babbel.com
    %p
      = succeed ', ' do
        = link_to 'babbel.com', 'http://babbel.com'
      a project of the European Regional Development Fund, is a low-cost online learning tool, with access to a variety of languges from the standards (French, Spanish, German), to some more interesting ones (Indonesian, Turkish, Norwegian). Courses start at $7.95/month (a lump sum every six months), and the software is snappy and fun. I don’t know that I would count on it for intensive learning, but it is helpful if you’re curious about a language and want to give it a try: babbel.com offers free trials on any of their language courses.

%h2.resource-headline Selected Websites
%ul
  %li
    = link_to 'fluentin3months.com', 'http://fluentin3months.com'
    — language hacking from “Benny the Irish Polyglot”
  %li
    = link_to 'BBC Languages', 'http://bbc.co.uk/languages'
    — free language learning resources for 43 languages

%h2.resource-headline Selected Articles
%ul
  %li
    %strong Lifehacker:
    = link_to 'How to Successfully Learn a Language This Year', 'http://lifehacker.com/5974670/how-to-successfully-learn-a-new-language-this-year'

  %li
    %strong Tim Ferriss:
    = link_to 'How to Learn Any Language in 3 Months', 'http://www.fourhourworkweek.com/blog/2009/01/20/learning-language/'

