%footer
  .container
    %p
      Speakeasy is a blog about language acquisition, linguistics, and language learning resources. Current areas of focus are Chinese, French, and English. You can find out more on the
      = succeed ',' do
        = link_to 'about page', '/about'
      or if you're looking for more learning support, view the available
      = succeed '.' do
        = link_to 'resources', '/resources'

    %p
      You can also get in touch via
      = link_to 'email', 'mailto:speakeasylinguistics@gmail.com'
      but whatever you do, you should definitely
      = succeed '.' do
        = link_to 'follow me on Twitter', ''

  %p.copyright
    &copy;
    - if Time.now.year > 2013
      "2013–#{Time.now.year}"
    - else
      2013

    Speakeasy Linguistics.
    = link_to 'Contact', 'mailto:speakeasylinguistics@gmail.com'

:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-43686654-1']);
  _gaq.push(['_setDomainName', 'speakeasylinguistics.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
